h1 {
    font-size: 100px;
}

h2 {
    font-size: 50px;
}

p {
    color: #A8A8A8;
    font-size: 25px;
}

.header {
    text-align: center;
    display: block;
    top: 0;
}

.data {
    padding: 10px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    text-align: center;
}

.card {
    height: 100%;
}


.card-holder {
    margin-bottom: 10px;
}

.courses {
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 90px;
    overflow: auto;
    overflow-x: hidden;
}

.placeholder {
    bottom: 0;
    height: 90px;
}


.new-course::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/></svg>");
}