.toolbar {
    background-color: #333333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    z-index: 10;
    height: 115px;
}

.logout-button {
    color: white;
}

.content {
    overflow: scroll;
}

.toolbar li{
    display:inline;
    padding: 10px;
}

.toolbar a {
    background-color: #565656;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.toolbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.toolbar a.active {
    background-color: #ff4f00;
    color: white;
}

.nav {
    padding: 0px 0px 0px 0px;
}