<div class="signup-page row m-1 d-flex justify-content-center">
    <div class="header-text text-center">
        <h2 class="display-2 mt-2">HCPFast</h2>
        <h4>Sign Up</h4>
    </div>
    <form class="col-md-6" (submit)="checkPasswordsAndRegister()">
        <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" [(ngModel)]="email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
        <label for="pass" class="form-label">Password</label>
        <input type="password" name="pass" class="form-control" id="pass" [(ngModel)]="pass">
        </div>
        <div class="mb-3">
            <label for="confirmPass" class="form-label">Confirm Password</label>
            <input type="password" name="confirmPass" class="form-control" id="confirmPass" [(ngModel)]="confirmPass">
        </div>
        <button type="submit" class="btn signup-button">Sign Up</button>
    </form>
    <div class="other-options row d-flex justify-content-center text-center">
        <p></p>
        <h3>Already have an account?</h3>
        <p></p>
        <button routerLink="/" routerLinkActive="active" class="btn btn-secondary col-md-4">Log In</button><p></p>
    </div>
</div>